.divcls
{
	vertical-align:bottom;
     	
}

.imgcls
{
	padding:1px;
	border:2px;
	cursor:pointer;
}

/* the div that holds the date picker calendar */
.dpDiv {direction:rtl;}
/* the table (within the div) that holds the date picker calendar */
.dpTable 
{
	font-family: Tahoma;
	font-size: 12px;
	text-align: center;
	direction:rtl;
	color: #505050;
	background-color:white;
	border: 1px solid #8A99BA;
    width:210px;
}

/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {}

/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR 
{
  background-color:#C4CBFD;
}

/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
background-color:#F4F4FF;
}

/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
background-color:#FF6666;
}

/* a table cell that holds a date number (either blank or 1-31) */
.dpTD 
{
	border: 1px solid white;
}
.dpTDBlank
{
	border: 1px solid white;
}


/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD 
{
	background-color: #F3E18D;
	border: 1px solid #B35412;
}

/* the date number table cell that the mouse pointer is currently over (
   you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover 
{
	background-color: #F3E18D;
	border: 1px solid #B35412;
	cursor: pointer;
}
.dpTDBlankHover
{
	border: 1px solid white;
}


/* the table cell that holds the name of the month and the year */
.dpTitleTD {}

/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {}

/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
	border: 1px solid #CCCCFF;
	background-color: #E1E8FF;
}

/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD 
{
	font-size: 12px;
	border-bottom: solid 1px #C2D4DA;
}

/* additional style information for the text that indicates the month and year */
.dpTitleText 
{
	font-family: Tahoma;
	font-size: 12px;
	color: Black;
	
}

/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight 
{
	color: #4060ff;
	font-weight: bold;
}

/* the forward/backward buttons at the top */
.dpButton 
{
	color: #000000;   
	font-weight:normal;    
    font-size: 9pt;
    font-family: Tahoma;				    
    vertical-align: middle;	 		
    border: solid 1px #B2BCBE;	
   
    
    padding: 1px 1px 1px 1px;
	cursor: pointer;
	
}



/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton 
{
	  color: #000000;   
	font-weight:normal;    
    font-size: 9pt;
    font-family: Tahoma;				    
    vertical-align: middle;	 		
    border: solid 1px #B2BCBE;	
    padding: 1px 1px 1px 1px;
	cursor: pointer;
}
